<div class="panel panel-info">
  <div class="panel-heading">Add New Amenity</div>
    <div class="panel-body">
		<%= render 'form' %>

		<%= link_to 'Show', @amenity %> |
		<%= link_to 'Back', amenities_path %>
	</div>
</div>	
