<div class="panel panel-info">
  <div class="panel-heading">Editing User</div>
    <div class="panel-body">
		<%= render 'form' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	</div>
</div>		
